/*BASE CSS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #40b883;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app {
  background-color: #eee;
  max-width: 460px;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
}